:root{
    --white:#ffff;
    --black:#000;
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --grey:#959da5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.wrapper{
    max-width: 81rem;
    margin: 0 auto;
    padding:  0 2rem 2rem;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--white);
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo img{
    width: 75px;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#nav-bar ul li a{
    display: inline-block;
    text-decoration: none;
    margin-left: 4.5rem;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.4s;
}

#nav-bar ul li a:hover{
    color: var(--Soft-Magenta);
}

#main-content{
    margin-top: 0rem;
}

section{
    margin: 3rem;
}

#home{
    display: flex;
    align-items: center;
    height: 920px;

}

.home-logo{
    margin-right: 3rem;
}

.home-logo img{
    width: 400px;
    max-width: 100%;
    height: auto;
}

.home-text{
    font-size: 5.5rem;
    font-weight: 900px;
}


.features-group{
    display: flex;
    align-items:center;
    margin-bottom: 4rem;
}

.icon{
    width: 6vw;
}


.icon i{
    font-size: 3rem;
    cursor: pointer;
    transition: 0.4s;
}

.icon i:hover{
    color: var(--Soft-Magenta);
}


.text h2{
    text-align: left;
}

#how_it_works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin-bottom: 24px;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.form-container{
    width: 600px;
}

.form-title h2{
    text-align: center;
    margin-bottom: 0.4rem;

}

.form-content{
    border: 2px solid var(--Soft-Magenta);
    border-radius: 48px;
    padding: 2rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.form-group label{
    margin-bottom: 0.4rem;
}

.form-group input{
    text-align: center;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 24px;
    border-color: var(--Violet);
    margin-bottom: 1.5rem;
}

textarea{
    text-align: center;
    font-size: 1rem;
    padding-top: 2rem;
    border-radius: 36px;
    border-color: var(--Violet);
    margin-bottom: 1.5rem;
}


.btn-submit{
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white);
    background-color: var(--Violet);
    border-radius: 24px;
    padding: 1rem 4rem;
    transition: 0.4s;
}

.btn-submit:hover{
    background-color: var(--Soft-Magenta);
}

.footer-nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-nav ul li{
    padding: 1rem 3rem;
}

.footer-nav ul li i{
    color: var(--black);
    font-size: 2rem;
    transition: 0.4s;
}

.footer-nav ul li a i:hover{
    color: var(--Soft-Magenta);
}

.footer-text{
    text-align: center;
    font-size: 1rem;
    color: grey;
}

@media screen and (max-width:810px){
    #nav-bar ul li a{
        margin-left: 2.5rem;
    }

    .home-logo{
        margin-right: 3rem;
    }

    .home-logo img{
        width: 200px;

    }

    .home-text{
        font-size: 4rem;
    }

    section{
        margin: 0rem;
    }

    .icon{
        width: 10vw;
    }

    .text-2{
        margin-left: 1rem;
    }

    .form-title h2{
        margin: 2rem 0 1rem;
    }

    #contact{
        margin-bottom: 24px;
    }
}